/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/10/2017, 02:12:10 PM
    Author     : Juan Camilo
*/

.axis-title{
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}
.country:hover{
    stroke: #c6a700 !important;
}

.modal-body table{
    margin: 0 auto;
}
.modal-body table tr td:first-child{
    color: #1a237e;
    font-weight: bold;
    padding-right: 32px;
}

.legend-symbol{
    stroke: black;
    fill:transparent;
}
.fixed-color{
    stroke:black;
}