/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/12/2017, 12:02:23 PM
    Author     : Camilo
*/
rect:hover{
    stroke:yellow !important;   
}
.badge{
    display: inline-flex;
    background: yellow;
    color: gray;
}
.badge button:hover{
    background-color: hsla(120, 100%, 50%, 0.3);
}
.badge button{
    background: transparent;
    border: none;
}
.field{
    font-weight: bold;
}
.operator{
    color: green;
}
.value{
    color: pink;
}