/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/12/2017, 12:02:23 PM
    Author     : Camilo
*/
rect:hover{
    stroke:yellow !important;   
}
.badge *:hover{
    cursor:pointer
}
.badge{
    display: inline-flex;
    background:#1976d2;
    margin: 4px;
    padding: 8px;
    border-radius: 20px;
}
.badge button:hover{
    background-color: hsla(120, 100%, 50%, 0.3);
}
.badge button{
    background: transparent;
    margin-left: 8px;
    font-size: xx-small;
    border: none;
    color: white;
}

.operator,.value{
    margin-left: 4px;
}

.field{
    font-weight: bold;
    color: white;
}
.operator{
    color: white;
}
.value{
    color: white;
}
.round{ 
    border-radius: 50%;
    width: 80px;
    height: 80px;
}