.graph-container div{
    display: inline-flex;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.data-point {
    fill: steelblue;
}

.data-point:hover {
    fill: #FF9933;
}